#wearecoworkers li {
	list-style: none;
}
#wearecoworkers .photo {
    height: 140px;
}
#wearecoworkers section {
	position: relative;
	margin-top: -1px;
	height:140px;
	border: 1px solid #CCC;
}
#wearecoworkers .photo {
	
}
#wearecoworkers .fn {
	position: absolute;
	top: 120px;
    background: #111;
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
}
#wearecoworkers .social {
	position: absolute;
	top: 5px;
	right: 5px;
}
#wearecoworkers .social li {
	list-style: none;
	margin-left: 3px;
	display: inline;
}
#wearecoworkers .category {
	position: absolute;
	top: 150px;
}
#wearecoworkers .website {
	position: absolute;
	top: 60px;
	left: 240px;
}
#wearecoworkers .fullMemberCard {
    background: white;
    height: 300px;
    width: 300px;
}
